.filters-selection-list{
    text-align: center;
}

.filters-list-option{
    margin: 2px;
}

.filters-badge-space{
    margin-top: 11px !important;
    margin-bottom: 5px !important;
    padding-right: 3px !important;
}