.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.logoHeader{
  width: 50px;
  height: auto;
}

button:focus {
  outline: none;
}