.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.logoHeader{
  width: 125px;
  height: auto;
}

.example-margin{
  width: 125px;

}

::ng-deep .mat-slide-toggle-label{
  flex-direction: row-reverse !important;
}
