<mat-toolbar id="header" class="header" color="primary">
    <img id="logoHeader" class="logoHeader" src="../assets/IT for society transparent inverted.png" alt="logo">
    <span class="fill-remaining-space"></span>

    <a mat-button id="matButton1" class="matButton" routerLink="/home">Home</a>
    
    <button mat-button [matMenuTriggerFor]="belowMenu">Stories</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <a mat-menu-item routerLink="/stories">Stories</a>
        <a mat-menu-item routerLink="/quotes">Quotes</a>
    </mat-menu>
        
    <a mat-button id="matButton3" class="matButton" routerLink="/contact">Contact</a>
    
    <a mat-button id="matButton4" class="matButton" routerLink="/todo" style="display: none;">Todo</a>
    <span class="fill-remaining-space"></span>
    
    <mat-slide-toggle (change)="darkMode()" [(ngModel)]="darkModeChecked"
          class="example-margin"
          [checked]="darkModeChecked"
          color="blue"
          >
    </mat-slide-toggle>
 <!--    <button mat-button id="matButton4" class="matButton" [matMenuTriggerFor]="belowMenu4">Theme</button>
    <mat-menu #belowMenu4="matMenu" yPosition="below">
        <button id="itemButton4" mat-menu-item (click)="changeTheme('my-pink-bluegrey')">pink-bluegrey</button>
        <button mat-menu-item (click)="changeTheme('my-indigo-pink')">indigo-pink</button>
    </mat-menu> -->
  </mat-toolbar>
