.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}


.fb-like{
    width: auto;
}

.footer-row-center{
    width: 310px;
    display: flex;
    font-size: 13pt;
}
.contact{
    margin-top:-20px;
}

.copyright{
    text-decoration:none;
    color:inherit;
}