<mat-toolbar id="footer" color="primary">
  <mat-toolbar-row class="footer-row">
    <span class="fill-remaining-space"></span>
    <div class="footer-row-center">
      <a mat-button target="_blank" href="https://www.facebook.com/ITforSociety"><mat-icon>facebook</mat-icon></a>
      <div>Follow us on Facebook &nbsp;</div>
    </div>
    <span class="fill-remaining-space"></span>
  </mat-toolbar-row>
  <mat-toolbar-row class="footer-row contact">
    <span class="fill-remaining-space"></span>
    <div class="footer-row-center">
      <a mat-button target="" href="mailto:contact@itforsociety.com"><mat-icon>email</mat-icon></a>
      <div>contact@itforsociety.com &nbsp;</div>
    </div>
    <span class="fill-remaining-space"></span>
  </mat-toolbar-row>
  <mat-toolbar-row class="footer-row">
    <span class="fill-remaining-space"></span>
    <div class="itforsociety" >
      <a class="copyright" routerLink="/privacy">ITforSociety &copy; 2022</a>
    </div>
    <span class="fill-remaining-space"></span>
  </mat-toolbar-row>
</mat-toolbar>