<div class="task-container">
  <mat-form-field class="example-full-width">
    <mat-label>Add new task</mat-label>
    <input matInput placeholder="Ex. Clean the house" [(ngModel)]="newTodo.todo_task_name" (keyup.enter)="addTodo()">
  </mat-form-field>
  <div class="main" *ngIf="todos.length > 0">
    <mat-list #tasks>
      <mat-list-item *ngFor="let todo of todos" [class.completed]="todo.todo_task_complete_f">
        <div class="row-flex">
          <div class="task-name">
            <mat-checkbox class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete"></mat-checkbox>
            <input matInput [readonly]="readonly" value="{{todo.todo_task_name}}" [(ngModel)]="todo.todo_task_name" (keyup.enter)="updateTodo(todo);readonly = !readonly;"/>
          </div>
          
          <div class="example-button-container">
            <button mat-icon-button class="destroy" (click)="readonly = !readonly" color="primary" aria-label="Example icon button with a menu icon">
              <mat-icon>fiber_pin</mat-icon>
            </button>
            <button mat-icon-button class="destroy" (click)="readonly = !readonly" color="primary" aria-label="Example icon button with a menu icon">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="destroy" (click)="removeTodo(todo)" color="primary" aria-label="Example icon button with a menu icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
       
      </mat-list-item>
    </mat-list>
  </div>
  <div class="footer" *ngIf="todos.length > 0">
    <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
  </div>
</div>