<mat-card id="content" class="body-card">
    <!-- <img class="cardImadiv src="../assets/maldivi sunset.png"> -->
    <div id="story-cards" class="container">
      <mat-grid-list [cols]="numberOfColumns" [rowHeight]="rowHeight" (window:resize)="onResize($event)">
        <mat-grid-tile  *ngFor="let story of stories">
          <mat-card class="story-card" color="accent">
            <mat-card-header class="story-header">
              <div mat-card-avatar class="story-header-image" style="background-image: url('{{story.story_avatar}}');"></div>
              <mat-card-title>{{story.story_title}}</mat-card-title>
              <mat-card-subtitle>{{story.story_subtitle}}</mat-card-subtitle>
            </mat-card-header>
            <a routerLink="/story/{{story.story_id}}/{{story.story_tag}}">
              <div class="story-image" style="background-image: url('{{story.story_image}}');"></div>
            </a>
            <mat-card-content class="story-content-text">
              <p>
                {{story.story_content}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a mat-button routerLink="/story/{{story.story_id}}/{{story.story_tag}}">READ MORE</a>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      
    </div>
</mat-card>
