 /*using full height minus header size */


 #story-cards{

}

.story-header-image {
  background-image: url('../../assets/IT for society circle.png');
  background-size: cover;
}

.story-header{
  height: 70px;
}

.story-image {
  background-image: url(https://material.angular.io/assets/img/examples/shiba1.jpg);
  background-size: cover;
  width: 98%;
  height: 300px;
}

.story-content-text{
    height: 100px;
    overflow: hidden;
    margin-top: 10px;
    text-overflow: ellipsis;
}


/* RESPONSIVE CSS
-------------------------------------------------- */


@media (min-width: 1240px) {
  .story-card {
    max-width: 500px;
  }
}

@media (max-width: 500px) {
  .story-image{
    height: 175px;
  }
}


  