<mat-card id="content" class="body-card">
    <div id="myCarouselContainer" class="container">
    
    </div>
    <!-- <img class="cardImage" mat-card-image src="../assets/maldivi sunset.png"> -->
    <div id="example-cards" class="container">
      <mat-grid-list cols="3" rowHeight="1:1.5">
        <mat-grid-tile>
          <mat-card class="example-card" color="accent">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Child Protection Information Management System (CPIMS)</mat-card-title>
            <mat-card-subtitle>Primero</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../assets/primero.PNG" alt="Photo of primero.org">
          <mat-card-content>
            <p>
                As of May 2018, 68.5 million people around the world have been forcibly displaced from their homes due to armed conflict and natural disaster.  🌪🔥💔
                Of these, 25.4 million are refugees, and more than 50 percent are children 🙅‍♀️🙅🙇‍♀️🙇‍♂️
                For helping missing people International Rescue Committee , Save the Children UK and UNICEF developed child protection information management system (CPIMS). One of the products is an open source software platform Primero, originally designed to facilitate family tracing and reunification (FTR) of children in emergencies.
                In Primero social workers can report missing child 👶 in the system, as well as parent/cousin  👩‍🦰  searching for child. The system then helps to track down and reunite the families. 👨‍👩‍👦👨‍👩‍👧👨‍👩‍👧‍👦
                To know more about Primero visit primero.org 
                And to find out more praiseworthy software platforms for positive impact on society please follow our page: https://www.facebook.com/ITforSociety 👈👈👈👍
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card></mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card></mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card></mat-grid-tile>
      </mat-grid-list>
      
    </div>
</mat-card>
