 /*using full height minus header size */


 #example-cards{

}
.example-card {
  max-width: 350px;
  padding-top: 2px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-grid-tile{
  padding-top: 2px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */


@media (min-width: 1240px) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


  