<p>
    Google searches your website with <a target="_blank" href="https://en.wikipedia.org/wiki/Web_crawler"> Web Crawler</a>, also known as spider, bot or spiderbot. When the website is found, it is starting to crawl your page. Google renders the page and analyses both text and non-text content, and overall visual layout to decide where it should appear in Search results. 
</p>
<h1>Sitemap</h1>
<p>
    You can ensure that Crawler gets all of your pages by creating a sitemap and deploying that sitemap on Google Search Console, or just letting the Crawler know sitemap location in robots.txt. When you create a sitemap, you must add it to your public (assets) folder to make it accessible for Web Crawler. 
</p>
<div class="image-div">
    <img class="images" src="../../../../assets/stories/3/sitemap.JPG" alt="xml sitemap example">
</div>
<p>This is a part of our sitemap, you can the full one <a target="_blank" href="https://itforsociety.com/assets/sitemap.xml">here</a>, directly on our IT for Society web page.</p>

<h1>robots.txt</h1>
<p>
    <strong>"robots.txt"</strong> is a file where you can communicate with Web Crawlers. You can instruct them on the location of your sitemap, and you can tell them which paths (web pages) they should skip and not look into. When you create robots.txt file you should place it in main/root page of your web source. Web crawler automatically looks for robots.txt file in your <strong>root directory</strong>. Our robots.txt file has just one line since we only want to tell Web Crawler where is our sitemap and it looks like this: 
 </p>
<code>Sitemap: https://itforsociety.com/assets/sitemap.xml</code>
<p><br>
    If you are using <strong>angular</strong> you need to allow public access to robots.txt file. Just add src/robots.txt line in assets object in <strong>angular.json</strong>
</p>
<div class="image-div">
    <img class="images" src="../../../../assets/stories/3/anularjson.JPG" alt="allow access to robots.txt in angular">
</div>
<p>
    Now Web Crawler can automatically find your sitemap by checking your robots.txt file.  
</p>
<h1>Pinging Google</h1>
<p>
    You can also speed up the process by pinging Google Search directly over the API like this:
</p>
<code>http://www.google.com/ping?sitemap=https://itforsociety.com/sitemap.xml </code>
<div class="image-div">
    <img class="images" src="../../../../assets/stories/3/ping-google-sitemap.JPG" alt="ping google about web page sitemap">
</div>
<h1>Google Search Console</h1>
<p>
    The other option is to upload your sitemap directly by loging in with Google account to <a target="_blank" href="https://search.google.com/search-console">Google Search Console</a>.
</p>
<div class="image-div">
    <img class="images" src="../../../../assets/stories/3/google-search-console-welcome.JPG" alt="google search console domain verification">
</div>
<p>
    When you login, you will need to verify your website first. If your website is already verified with your account, Google will automatically verify your page when you use <strong>URL Prefix</strong>. For <strong>domain</strong> verification, you will have to go and add authentication string to the site of your domain provider. Sometimes this verification can take around 24 hours. 
</p>
<p>
    After site verification you will be able to enter Google Search Console and there you can easily find a place to submit your sitemap path.
</p>
<div class="image-div">
    <img class="images" src="../../../../assets/stories/3/google-search-console-sitemap.JPG" alt="google search console sitemap upload">
</div>
<p>
    This are some of the ways how you can tell Google about your website. Remember that Google is not only one with a Web Crawler, there are many other Web Crawlers like:
</p>
<ul>
    <li>Google: Googlebot (Googlebot Desktop and Googlebot Mobile)</li>
    <li>Bing: Bingbot</li>
    <li>Yandex (Russian search engine): Yandex Bot</li>
    <li>Baidu (Chinese search engine): Baidu Spider</li>
</ul>
<p>
    But do not worry! If you created your <i>robots.txt</i> file inside of the root folder with
    the right path to your <i>sitemap.xml</i>, all this <strong>Web Crawlers</strong> will find it and crawl your website automatically.
</p>