<div class="products">
    <div class="productsBackground">
        <svg id="elementsSVGFirst" class="elementsSVG" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 2494.825 1540.951" style="opacity:1">
            <g id="Group_3" data-name="Group 3" transform="translate(227.825 246.476)">
              <rect id="Rectangle_1" data-name="Rectangle 2" width="939" height="926" rx="21" transform="matrix(0.995, 0.105, -0.105, 0.995, -131.031, -109.54)" fill="#f6f6f6" opacity="0.85"/>
              <path id="Polygon_1" data-name="Polygon 1" d="M654.763,19.319a13,13,0,0,1,22.475,0l643.4,1106.144A13,13,0,0,1,1309.4,1145H22.6a13,13,0,0,1-11.237-19.536Z" transform="matrix(0.208, -0.978, 0.978, 0.208, 159.041, 1056.417)" fill="#f6f6f6" opacity="0.85"/>
              <ellipse id="Ellipse_1" data-name="Ellipse 1" cx="489.5" cy="484.5" rx="489.5" ry="484.5" transform="translate(1288 176)" fill="#f6f6f6" opacity="0.85"/>
            </g>
        </svg>
        <svg id="elementsSVGSecond" class="elementsSVG" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 2494.825 1540.951" style="opacity:0">
          <g id="Group_3_2" data-name="Group 3" transform="translate(227.825 246.476)">
            <rect id="Rectangle_2" data-name="Rectangle 2" width="939" height="926" rx="21" transform="matrix(0.995, 0.105, -0.105, 0.995, -131.031, -109.54)" fill="rgba(0, 35, 106,1)" opacity="0.85"/>
            <path id="Polygon_2" data-name="Polygon 1" d="M654.763,19.319a13,13,0,0,1,22.475,0l643.4,1106.144A13,13,0,0,1,1309.4,1145H22.6a13,13,0,0,1-11.237-19.536Z" transform="matrix(0.208, -0.978, 0.978, 0.208, 159.041, 1056.417)" fill="rgba(0, 35, 106,1)" opacity="0.85"/>
            <ellipse id="Ellipse_2" data-name="Ellipse 1" cx="489.5" cy="484.5" rx="489.5" ry="484.5" transform="translate(1288 176)" fill="rgba(0, 35, 106,1)" opacity="0.85"/>
          </g>
        </svg>
    </div>

    <div class="productCards" (scroll)="scrollEffect()">
      <div class="productCardsFirst">
          <div class="productCardLeft" color="accent">
            <a routerLink="/products">
              <iframe class="productCardVideo" src="https://www.youtube.com/embed/bpwAngIRaDQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>
          </div>

          <span class="fill-remaining-space"></span>

          <div class="productCardRight" color="accent">
            <div class="productCardTitle">UX/UI Design</div>
            <div class="productCardContent">We are here to help you from ideation and story creation to full digital product concept. Creating an easy, intuitive, efficient, and beautiful User Interface (UI). Focusing on intuitivity and usability to get great User Experience (UX) which is based on deep analysis and social relationships.</div>
          </div>
      </div>

      <div class="productCardsSecond">
          <div class="productCardLeftPair" color="accent">
            <div class="productCardTitle">Brand Design</div>
            <div class="productCardContent">We are here to help you with any other design needs for your product. From logo, font, colors and complete brand design guidelines.</div>
          </div>

          <span class="fill-remaining-space"></span>

          <div class="productCardRight" color="accent">
              <div class="productCardLogoVideoOuter">
                <video id="productCardLogoVideo" class="productCardLogoVideo">
                  <source src="../../assets/video/Windmills - Google Chrome 2022-07-06 13-02-58.mp4" type="video/mp4">
                </video>
              </div>
              <a mat-button (click)="animateCircle()">LOGO DESIGN</a>
          </div>
      </div>
    </div>
</div>
  