.products{
    height: 94%;
}
:host .mat-slide-toggle-label{
    display: none;
}

.mat-toolbar.mat-primary{
    background-color: #1B6488 !important;
}


body,div, h1, h2, h3, h4, h5, h6  {
    font-family: "Trebuchet MS", Tahoma, sans-serif;
  }

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: #d0d5e0; 
  }
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 35, 106,1); 
  }

.productsBackground{
    background-color: rgba(0, 35, 106,1);
    height: 94%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    opacity: 1;
}
.elementsSVG{
    width: 128vw;
    height: 72vw;
    margin-left: -12vw;
    margin-top: -11.4vw;
    position: absolute;
}

#elementsSVGSecond{
    opacity: 0;
    background-color: #d0d5e0;
}

.rectangleSVG{
    position: absolute;
    width:1030.649px;
    height:1019.08px;
}
#Rectangle_1{
    margin-top: 2vw;
}



.productCards{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 94%;
    width: 100%;
    position:absolute;
}

.productCardsFirst{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    min-height: 100%;
}
.productCardsSecond{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    min-height: 110%;
}
.productCardsThird{
    height: auto;
    min-height: 110%;
}

.productCardTitle{
    font-size: 4.2vw;
    font-weight: bold;
    height: 5vw;
}
.productCardContent{
    font-size: 12pt;
    color: #6B6B6B;
    padding: 10px;
    border-radius: 7px;
}

.productCardVideo{
    width: 38.93vw;
    height: 20.72vw;
    border-radius: 41px;
    box-shadow: 4px 8px 20px grey;
    min-width: 420px;
    min-height: 240px;
}

#productCardVideo2{
    width:36.9vw
}
.productCardLeft{
    width: auto;
    height: 300px;
    margin-top: 10vw;
    /* margin-left: 5vw; */
    display: inline-block;
    min-width: 420px;
    min-height: 240px;
}
.productCardRightWrapper{
    width: 36vw;
    height: 30vw;
    margin-top: 14vw;
    display: inline-block;
    min-width: 420px;
}

.productCardRight{
    width: 30vw;
    height: 30vw;
    margin-left: 6vw;
    margin-right: 6vw;
    min-width: 420px;
    min-height: 240px;
}

.productCardLeftPair{
    width: 28vw;
    height: 30vw;
    display: inline-block; 
    color: white;
    min-width: 420px;
    min-height: 240px;
}

#productCardContent2{
    color: white;
}


.animateCircle{
    fill: #092458;
    transform: translate(1092.71px, -37.667px) !important;
    opacity: 1;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    transition: all 2s;
}


.productCardLogoVideoOuter{
    width: 30vw;
    height: 30vw;
    margin-left: 5.1vw;
    margin-top: -3vw;
    overflow: hidden;
    border-radius: 50%;
}
.productCardLogoVideo{
    width: 0px;
    transition: width 3s;
}
.productCardLogoVideoShow{
    width: 54vw;
    height: auto;
    transition: width 3s;
}

#productCardTitle3{
    width: 100%;
    text-align: center;
    margin-top: 2vw;
}

.productCardWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.productCard3{
    width: 450px;
    height: 530px;
    display: inline-block;
    padding: 1.2vw;
}

#productCardsThird3{
    border-radius: 0px;
}

.contactUsWrapper{
    margin-top: 5vw;
    display: flex;
    flex:100%;
    justify-content: center;
}

.note{
    width: 30vw;
    font-style: italic;
    margin-left: 20px;
}

.contactUsButton{
    height: 36px;
}



@media (max-width:1000px){


    .productCard3{
        width: 100%;
        height: 100%;
        display: inline-block;
        padding: 1.2vw;
    }

    .productCardTitle {
        font-size: 4.4vw;
        font-weight: bold;
        height: 7vw;
        margin-left: 1.4vw;
    }
    .productCardLeft {
        width: 100%;
        height: 51vw;
        margin-top: 0px;

    }
    .productCardVideo{
        width: 100%;
        height: 51vw;
        border-radius: 0px;
    }

    .productCardsFirst{
        min-height: auto;
        min-height: 110%;
    }

    .elementsSVG {
        width: 262vw;
    height: 171vw;
    margin-left: -72vw;
    margin-top: -12.4vw;
    position: absolute;
    transform: rotate(90deg);
    }

    .productCardRight{
        margin-left: 6vw;
        margin-right: 1vw;
        min-width: 370px;
        min-height: 213px;
    }
    

    .productCardContent {
        font-size: 10pt;
        color: black;
        padding: 10px;
        border-radius: 7px;
        background-color: ghostwhite;
        opacity: 0.9;
    }
    .productCardRightWrapper {
        width: 36vw;
        height: 100vw;
        margin-top: 10vw;
        display: inline-block;
        min-width: 420px;
    }
    #productCardWrapper2{
        margin-top: 74vw;
    }

    #productCardsLeft2{
        margin-top: 0vw;
        min-width: 390px;
        position: absolute;
    }
    #productCardLeftPair2{
        margin-left: 6vw;
        margin-right: 1vw;
        min-width: 370px;
        min-height: 213px;
    }
    #productCardContent2{
        color:black;

    }
}