<div id="products" class="products">
    <div id="productsBackgroundElements" class="productsBackground">
        <svg id="elementsSVGFirst" class="elementsSVG" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 2494.825 1540.951" style="opacity:1">
            <g id="Group_3" data-name="Group 3" transform="translate(227.825 246.476)">
              <rect id="Rectangle_1" data-name="Rectangle 2" width="939" height="926" rx="21" transform="matrix(0.995, 0.105, -0.105, 0.995, -131.031, -109.54)" fill="#f6f6f6" opacity="0.85"/>
              <path id="Polygon_1" data-name="Polygon 1" d="M654.763,19.319a13,13,0,0,1,22.475,0l643.4,1106.144A13,13,0,0,1,1309.4,1145H22.6a13,13,0,0,1-11.237-19.536Z" transform="matrix(0.208, -0.978, 0.978, 0.208, 159.041, 1056.417)" fill="#f6f6f6" opacity="0.85"/>
              <ellipse id="Ellipse_1" data-name="Ellipse 1" cx="489.5" cy="484.5" rx="489.5" ry="484.5" transform="translate(1288 176)" fill="#f6f6f6" opacity="0.85"/>
            </g>
        </svg>
        <svg id="elementsSVGSecond" class="elementsSVG" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 2494.825 1540.951" style="opacity:0">
          <g id="Group_3_2" data-name="Group 3" transform="translate(227.825 246.476)">
            <rect id="Rectangle_2" data-name="Rectangle 2" width="939" height="926" rx="21" transform="matrix(0.995, 0.105, -0.105, 0.995, -131.031, -109.54)" fill="rgba(0, 35, 106,1)" opacity="0.85"/>
            <path id="Polygon_2" data-name="Polygon 1" d="M654.763,19.319a13,13,0,0,1,22.475,0l643.4,1106.144A13,13,0,0,1,1309.4,1145H22.6a13,13,0,0,1-11.237-19.536Z" transform="matrix(0.208, -0.978, 0.978, 0.208, 159.041, 1056.417)" fill="rgba(0, 35, 106,1)" opacity="0.85"/>
            <ellipse id="Ellipse_2" data-name="Ellipse 1" cx="489.5" cy="484.5" rx="489.5" ry="484.5" transform="translate(1288 176)" fill="rgba(0, 35, 106,1)" opacity="0.85"/>
          </g>
        </svg>
    </div>

    <div class="productCards" (scroll)="scrollEffect()">
      <div id="productCardsFirst1" class="productCardsFirst">

          <div id="productCardsLeft1" class="productCardLeft" color="accent">
              <iframe class="productCardVideo" src="https://www.youtube.com/embed/C4881BBhG2k?&autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; mute" allowfullscreen autoplay="1"></iframe>
          </div>

          <div class="productCardRightWrapper">
            <div id="productCardRight1" class="productCardRight" color="accent">
              <div class="productCardTitle">UX/UI Design</div>
              <div class="productCardContent">From ideation and story creation to full digital product concept. Creating an easy, intuitive, efficient, and beautiful User Interface (UI). Focusing on intuitivity and usability to get great User Experience (UX) which is based on deep analysis and social relationships. Well-designed content helps your user to easilly interact with a product, which leads to a great experience.
              </div>
              <a mat-button (click)="jumpToScroll('productCardsThird3')">READ MORE</a>
            </div>
          </div>

      </div>

      <div id="productCardsSecond2" class="productCardsSecond">
          <div id="productCardWrapper2" class="productCardRightWrapper">
            <div id="productCardLeftPair2" class="productCardLeftPair" color="accent">
              <div id="productCardTitle2" class="productCardTitle">Brand Design</div>
              <div id="productCardContent2" class="productCardContent">Hire our designer for all your product design needs. From logo, typography, icons, colors, complete brand design guidelines and more.</div>
              <a mat-button (click)="jumpToScroll('productCardsThird3')">READ MORE</a>
            </div>
          </div>
          <!-- 
          <span class="fill-remaining-space"></span>

          <div id="productCardRight2" class="productCardRight" color="accent">
              <div class="productCardLogoVideoOuter">
                <video id="productCardLogoVideo" class="productCardLogoVideo">
                  <source src="/itforsociety/assets/video/Windmills - Google Chrome 2022-07-06 13-02-58.mp4" type="video/mp4">
                </video>
              </div>
              <a mat-button (click)="animateCircle()">LOGO DESIGN</a>
          </div> 
          -->
          
          <div id="productCardsLeft2" class="productCardLeft" color="accent">
            <iframe id="productCardVideo2" class="productCardVideo" src="https://www.youtube.com/embed/ulLpNbAzsT8?&mute=1&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; mute" allowfullscreen autoplay="1"></iframe>
          </div>
      </div>

      <mat-card  id="productCardsThird3" class="productCardsThird">
          <div id="productCardTitle3" class="productCardTitle">From Idea to Product</div>
          <div id="productCardWrapper3" class="productCardWrapper">
              <div id="productCardLeft3" class="productCard3" color="accent">
                  Defining Information Architecture and Requirements Gathering
                  <ul>
                    <li>gathering project requirements</li>
                    <li>holding stakeholder meetings and workshops</li>
                    <li>analyse user research and tracking data</li>
                    <li>defining the required information architecture</li>
                    <li>defining scope</li>
                  </ul>
                  Creating Storyboards 
                  <ul> 
                    <li>creating the ideal user journey map</li>
                    <li>visual representation of your customers’ interactions with your brand</li>
                    <li>user research</li>
                  </ul>
                  Defining Main Features
                  <ul>
                    <li>Consulting and collaborating with clients to design the features for whole interface, user testing, user flows, user stories and preparing the features for development while assuring design quality</li>
                  </ul>
                  Creating Design Project Plan 
                  <ul>
                    <li>Creating desired plan and timeline of all features and services.</li>
                  </ul>
                  Defining Colors
                  <ul>
                    <li> Finding the feeling of the product in the colors and defining the color pallet tailored to customer needs.</li>
                  </ul>
              </div>
              <div id="productCardCenter3" class="productCard3">
                Defining Typography 
                <ul>
                <li> Finding the feeling of the product in the Typography and defining the main font,secondary and backup fonts with all rules to be applied</li>
                </ul>
                Creating Logo 
                <ul>
                <li> Creating 3 versions of logo according to product research and information</li>
                </ul>
                Creating Brand guideline 
                <ul>
                <li> Merging logo, fonts, colors and design rules to one document as a perfect reference to any further designing part of the product</li>
                </ul>
                Creating mockups
                <ul>
                <li> Creating hierarchy and navigation, mocking up first slides with look and feel of application</li>
                </ul>
                Creating UX/UI Prototype
                <ul>
                <li> Creating interactive prototype in the tool like Adobe XD</li>
                </ul>
                User Acceptance Testing of the prototype
                <ul>
                  <li>Leading personalized UAT sessions to test prototype to confirm all your functionalities are working as expected</li>            
                </ul>
              </div>

              <div id="productCardRight3" class="productCard3" color="accent">
                <div class="productCardContent3">
                  Taking Full Development Ownership
                  <ul>
                    <li> Taking full ownership of digital experience from prototype through development to ready to go-live application</li>
                  </ul>
                  Defining application environment and architecture
                  <ul> 
                    <li> backend technology</li>
                    <li> frontend technology</li>
                    <li> project methodology (agile scrum, waterfall) </li>
                  </ul>
                  Defining Main Features
                  <ul>
                    <li>Creating features list ready for development</li>
                  </ul>
                  Creating Development Project Plan
                  <ul>
                    <li>Creating a roadmap for the product development thinking through the various stages, estimating the time and as well as proactively thinking of the blockers that may come on the way</li>
                  </ul>
                  Developing the application        
                  <ul>
                    <li>Coding application, database engineering, API engineering</li>
                  </ul>
                  User Acceptance Testing of the application            
                  <ul>
                    <li>Leading personalized UAT sessions to test completed application to confirm all your functionalities are working as expected</li>             
                  </ul>
                  Creating Documentation
                  <ul> </ul>
                </div>
              </div>
            <div class="contactUsWrapper">
              <a mat-stroked-button class="contactUsButton" routerLink="/contact">Hire us</a>
              <div class="note">
                Note: By hiring us you will contribute to positive impact on society, because we are redirecting our profit for projects for social good.
              </div>
            </div>
          </div>

        </mat-card>
        
    </div>
</div>
  