.story-container {
    margin: 0 auto;
    width: 60%;
    max-width: 1080px;
}

@media (max-width: 1080px) {
    .story-container {
        margin: 0 auto;
        width: 100%;
    }
}

.story-header-image {
    background-size: cover;
    background-position: center;
  }

.story-image{
    width: 100%;
    height: auto;
}

.story-image-wrapper{
    max-height: 500px;
    overflow: hidden;
}

