<mat-card class="body-card">
    <div class="story-container">
        <mat-card class="story-card" color="accent">
            <mat-card-header class="story-header">
            <div mat-card-avatar class="story-header-image" style="background-image: url('{{story.story_avatar}}');"></div>
            <mat-card-title>{{story.story_title}}</mat-card-title>
            <mat-card-subtitle (click)="shareFB()">{{story.story_subtitle}}</mat-card-subtitle>
            </mat-card-header>
            <div class="story-image-wrapper">
                <img class="story-image" src="{{story.story_image}}">
            </div>
            <mat-card-content class="story-content-text">
                <p *ngIf="!story.story_custom">
                  {{story.story_content}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/quotes">GO BACK</button>
            </mat-card-actions>
        </mat-card>
    </div>
</mat-card>
