<div class="content" >

  <mat-card class="content-middle-first">
    <div class="flex-center">
      <img class="first-image ITsImage" src="../../assets/IT for society transparent inverted.png">
    </div>
    <div class="flex-center">
      <p class="content-middle-text">
        we are here to use technology for positive impact on society
      </p>
    </div>
  </mat-card>
  <mat-card class="content-middle">
    <div class="flex-center">
      <img src="../../assets/IT for society green transparent.png">
    </div>
    <div class="flex-center">
      <p class="content-middle-text">
        we are here to share praisworthy stories about tech for good and more
      </p>
    </div>
    <div class="flex-center">
      <a mat-button routerLink="/stories">READ MORE</a>
    </div>
  </mat-card>
  <mat-card class="content-middle">
    <div class="flex-center">
      <img src="../../assets/SDG/E_SDG_logo_without_UN_emblem_Square_Transparent_WEB.png">
    </div>
    <div class="flex-center">
      <p class="content-middle-text">
        we are here to support sustainable development goals
      </p>
    </div>    
    <div class="flex-center">
      <a mat-button routerLink="/story/1/sdg">READ MORE</a>
    </div>
  </mat-card>
  <mat-card class="content-middle">
    <div class="flex-center">
      <img class="ITsImage" src="../../assets/IT for society transparent inverted.png">
    </div>
    <div class="flex-center">
      <p class="content-middle-text">
        we are here to help you build apps for good and transform your business
      </p>
    </div>
    <div class="flex-center">
      <a mat-button routerLink="/contact">CONTACT US</a>
    </div>
  </mat-card>
    
    
</div>
