<mat-toolbar id="header" class="header" color="accent">My App
    <span class="example-fill-remaining-space"></span>
    <button mat-button id="matButton1" class="matButton" [matMenuTriggerFor]="belowMenu">Above</button>
    <mat-menu #aboveMenu="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button id="matButton2" class="matButton" [matMenuTriggerFor]="belowMenu">Below</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button id="matButton3" class="matButton" [matMenuTriggerFor]="belowMenu">Before</button>
    <mat-menu #beforeMenu="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
    </mat-menu>


    <button mat-button id="matButton4" class="matButton" [matMenuTriggerFor]="belowMenu">After</button>
    <mat-menu #afterMenu="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
    </mat-menu>
</mat-toolbar>