

.content{
  display: initial;
}
.slideshow{
  display: none;
}

.flex-center {
  display:flex;
  justify-content: center;
}
.content-middle-first {
  height: 100%;
  width: 100%;
  padding: 0%;
  border-radius: initial !important;
}
.content-middle {
  height: 60%;
  width: 100%;
  padding: 0%;
  border-radius: initial !important;
  box-shadow: none;
}
.content-middle-text{
  font-size: 18px;
  text-align: center;
  line-height: 2;
  letter-spacing: 3.6px;
  width: 340px;
}
.first-image{
  width: 200px;
  margin-top: 25%;
  margin-bottom: 0;
}

.content-middle img {
  width: 200px;
  margin-top: 5px;
  margin-bottom: 30px;
}



@media (max-width:500px){

  .first-image {
    width: 200px;
    margin-top: 35%;
  }
  .content-middle {
    height: 80%;
  }

}

@media (max-height:500px){

  .first-image {
    width: 200px;
    margin-top: 5%;
  }
  .content-middle {
    height: 140%;
  }
  .content-middle-first {
    height: 140%;
  }

}
    